<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>ERS</h2>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-md-image src="../../../assets/images/benjamin_head.png" alt="">
  <mat-card-content>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <mat-form-field>
        <input
        matInput type="text"
        name="username"
        id="username"
        placeholder="Username"
        ngModel
        required
        >
      </mat-form-field>
      <mat-form-field>
        <input
        matInput type="password"
        name="password"
        id="password"
        placeholder="Password"
        ngModel
        required
        >
      </mat-form-field>
      <div>
        <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
      </div>
      <div>
        <button
        mat-raised-button
        type="submit"
        [disabled]="!authForm.valid "
        >Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
