<!-- <div class="jumbotron">

  <h2 class="text-monospace mb-5 mx-auto text-center" style="width: 50%"> {{typeId===2 ? 'Give My Dollars Jobs' : 'Hard Work Pays Off'}} </h2>

  <div class="mx-auto" style="width: 75%">

      <form role="form" [formGroup]="form" (ngSubmit)="sendTransaction(form.value)">
          <div class="row pb-4">

              <div class="col-sm-3">
                  <label for="amount" class="control-label">Amount*</label>

                  <div class="input-group">
                      <span class="input-group-text" id="inputGroupPrepend2">$</span>
                      <input id="amount" name="amount" type="text" class="form-control" formControlName="amount"/>
                  </div>

                  <small *ngIf="(form.get('amount')?.invalid &&!form.get('amount')?.errors?.['pattern']) || form.get('amount')?.untouched"
                      class="text-secondary"> required </small>
                  <small *ngIf="form.get('amount')?.invalid && form.get('amount')?.errors?.['pattern'] &&(form.get('amount')?.dirty || form.get('amount')?.touched)"
                      class="text-secondary"> invalid number</small>
              </div>


              <div class="col-sm-3">
                  <label for="category" class="control-label">Category*</label>
                  <select name="category" id="category" class="form-control selectpicker" formControlName="categoryname">
                      <option selected="true" disabled>Please select a category</option>
                      <option value="{{categoryOption}}" *ngFor="let categoryOption of categories">{{categoryOption}}</option>
                  </select>
                  <small *ngIf="(form.get('categoryname')?.invalid &&!form.get('categoryname')?.errors?.['pattern']) || form.get('categoryname')?.untouched"
                  class="text-secondary"> required </small>
              </div>

              <div class="col-sm-3">
                  <label class="control-label" for="date">Date*</label>
                  <input type="text" id="date" name="date" class="form-control" placeholder="MM/DD/YYY"
                      formControlName="date" />

                  <small *ngIf="(form.get('date')?.invalid &&!form.get('date')?.errors?.['pattern']) || form.get('date')?.untouched"
                      class="text-secondary"> required </small>
                  <small *ngIf="form.get('date')?.invalid && form.get('date')?.errors?.['pattern'] &&(form.get('date')?.dirty || form.get('date')?.touched)"
                      class="text-secondary"> invalid date</small>
              </div>

              <div class="col-sm-3">
                  <label for="description" class="control-label">Description</label>
                  <input id="description" class="form-control" name="description" formControlName="description" />
              </div>

          </div>


          <div class="form-check mx-auto" style="width: 250px">
              <input class="form-check-input form-control" type="checkbox" id="flexCheckChecked" formControlName="shared">
              <label class="form-check-label" for="flexCheckChecked">
                  Splitting it with my partner
              </label>
          </div>


          <div class="mx-auto mt-5" style="width: 250px">
              <button type="submit" #addButton class="btn btn-info pull-left text-center" style="width: 100px"
                  [disabled]="form.invalid" *ngIf="isAdd" >Add</button>
                  <button type="submit" class="btn btn-info pull-left text-center" style="width: 100px"
                  [disabled]="form.invalid" *ngIf="!isAdd" >Update</button>
              <button type="reset" class="btn btn-info pull-left text-center ml-5" style="width: 100px">Clear</button>
          </div>

      </form>


  </div>
</div> -->
